<footer class="mt-5">
	<div class="container footer">
		<div class="row">
			{# {% include 'layouts/components/logo-footer.twig' %}
			{% include 'layouts/components/newsletter-footer.twig' %}
			{% include 'layouts/components/payments-footer.twig' %}
			{% include 'layouts/components/adress-footer.twig' %} #}
		</div>
	</div>
</footer>
{{ function('wp_footer') }}