{% extends "base.twig" %}

{% block content %}
	<div class="wrapper">
  	<div class="container-fluid" id="content">
    	<div class="row">
				<main class="site-main" id="main" role="main">
					
				</main><!-- #main -->
			</div><!-- .row end -->
		</div><!-- .container end -->
	</div><!-- Wrapper end -->
{% endblock %}